<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.msfy.mapper.CardMapper">
    
    <resultMap type="Card" id="CardResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="cardId"    column="card_id"    />
        <result property="phone"    column="phone"    />
        <result property="rechargeAmount"    column="recharge_amount"    />
        <result property="type"    column="type"    />
        <result property="cardTime"    column="card_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectCardVo">
        select id, name, card_id, phone, recharge_amount, type, card_time, remark from ms_card
    </sql>
	
    <select id="selectCardList" parameterType="Card" resultMap="CardResult">
        <include refid="selectCardVo"/>
        <where>
             <if test="name != null  and name != '' "> and name like concat('%',#{name},'%')</if>
             <if test="cardId != null  and cardId != '' "> and card_id like concat('%',#{cardId},'%')</if>
             <if test="phone != null  and phone != '' "> and phone like concat('%',#{phone},'%')</if>
         </where>
        order by card_time desc
    </select>
    
    <select id="selectCardById" parameterType="Integer" resultMap="CardResult">
        <include refid="selectCardVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCard" parameterType="Card" useGeneratedKeys="true" keyProperty="id">
        insert into ms_card
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null  and name != ''  ">name,</if>
			<if test="cardId != null  and cardId != ''  ">card_id,</if>
			<if test="phone != null  and phone != ''  ">phone,</if>
			<if test="rechargeAmount != null  ">recharge_amount,</if>
			<if test="type != null  ">type,</if>
			<if test="cardTime != null  ">card_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="cardId != null  and cardId != ''  ">#{cardId},</if>
			<if test="phone != null  and phone != ''  ">#{phone},</if>
			<if test="rechargeAmount != null  ">#{rechargeAmount},</if>
			<if test="type != null  ">#{type},</if>
			<if test="cardTime != null  ">#{cardTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateCard" parameterType="Card">
        update ms_card
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="cardId != null  and cardId != ''  ">card_id = #{cardId},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="rechargeAmount != null  ">recharge_amount = #{rechargeAmount},</if>
            <if test="type != null  ">type = #{type},</if>
            <if test="cardTime != null  ">card_time = #{cardTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteCardById" parameterType="Integer">
        delete from ms_card where id = #{id}
    </delete>
	
    <delete id="deleteCardByIds" parameterType="String">
        delete from ms_card where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>