<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.msfy.mapper.RecordMapper">
    
    <resultMap type="Record" id="RecordResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="cardId"    column="card_id"    />
        <result property="phone"    column="phone"    />
        <result property="time"    column="time"    />
        <result property="type"    column="type"    />
        <result property="timeMoney"    column="time_money"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectRecordVo">
        select id, name, card_id, phone, time, time_money, remark from ms_record
    </sql>
	
    <select id="selectRecordList" parameterType="Record" resultMap="RecordResult">
        <include refid="selectRecordVo"/>
        <where>
             <if test="name != null  and name != '' "> and name like concat('%',#{name},'%')</if>
             <if test="cardId != null "> and card_id like concat('%',#{cardId},'%')</if>
             <if test="phone != null  and phone != '' "> and phone like concat('%',#{phone},'%')</if>
         </where>
         order by time desc
    </select>
    
    <select id="selectRecordById" parameterType="Integer" resultMap="RecordResult">
        <include refid="selectRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRecord" parameterType="Record">
        insert into ms_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="cardId != null  ">card_id,</if>
			<if test="phone != null  and phone != ''  ">phone,</if>
			<if test="time != null  ">time,</if>
			<if test="type != null  ">type,</if>
			<if test="timeMoney != null  ">time_money,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="cardId != null  ">#{cardId},</if>
			<if test="phone != null  and phone != ''  ">#{phone},</if>
			<if test="time != null  ">#{time},</if>
			<if test="type != null  ">#{type},</if>
			<if test="timeMoney != null  ">#{timeMoney},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateRecord" parameterType="Record">
        update ms_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="cardId != null  ">card_id = #{cardId},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="time != null  ">time = #{time},</if>
            <if test="timeMoney != null  ">time_money = #{timeMoney},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteRecordById" parameterType="Integer">
        delete from ms_record where id = #{id}
    </delete>
	
    <delete id="deleteRecordByIds" parameterType="String">
        delete from ms_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getDayPie" resultType="com.ruoyi.msfy.domain.EchartsVo">
    SELECT
        count(*) AS value,
        type AS name
        FROM
        ms_record
    WHERE
	TO_DAYS(time) = TO_DAYS(now()) GROUP BY type
    </select>
    <select id="getMouthPie" resultType="com.ruoyi.msfy.domain.EchartsVo" >
    SELECT
        count(*) AS value,
        type AS name
        FROM
        ms_record
    WHERE DATE_FORMAT( time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ) GROUP BY type
    </select>
    
</mapper>